*{
    font-family: Arial, Helvetica, sans-serif;
}

#page{
    width: 30vw;
    height: 100vh;
    background-color: rgb(253, 253, 207);
    border:white solid 20px;
    outline: 2px solid blue;
}

fieldset{
    background-color: rgb(157, 245, 186);
    border: white solid 2px;
    margin-bottom: 5px;
}

#submit{
    text-align: center;
}

.first input{
    border-radius: 25px;
    border: none;
    padding: 3px; 
    width: 250px;
    height: 15px;
    margin-bottom: 5px;
    float:right;
}

.first label{
    float:left;
    width:120px;
    margin-bottom: 5px;

}

#country{
    margin-right: 50px;
}

#second input{
    border-radius: 25px;
    border: none;
    padding: 3px; 
    width: 250px;
    height: 15px;
    margin-bottom: 5px;
}

#second .nomargin{
    float:right
}

.floatl{
    float:left;
}

.floatr{
float: right;
}

#full{
    border-radius: 10px;
}

#submit{
    text-align: center;
    margin-left: 180px;
    background-color: rgb(87, 187, 149);
    border: skyblue 2px solid;
    border-radius: 10px;
    margin-top: 2px;
    padding: 5px;
    color:white;
}