@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
    url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
    url('fonts/roboto-fontfacekit/roboto_light_macroman/Roboto-Light-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Segoe UI", robotolight, Serif;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 75px;
    padding: 0 1em 0 1em;
    background-color: rgb(226, 69, 16);
    color: rgb(250, 240, 230); 
}

.control-panel .tile {
    text-decoration: none;
}

.control-panel .tile .fas {
    font-size: 350%;
    color: rgb(250, 240, 230);  
    margin-right: 0.2em;
}

.control-panel .button-style{
    text-decoration: none;
}

.control-panel .button-style .fas {
    font-size: 350%;
    color: rgb(250, 240, 230);  
    margin-right: 0.2em;
}

.page-header .banner {
    text-align: right;
    flex-grow: 1;
}

.index /* .index */
{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
}

.index .detail
{
    display: flex;
    flex-direction: column;
    padding: 0 0.5em 0 0.5em;
    width: 10em;
    flex: 2 1 20em;
    background-color: rgb(255, 228, 196);
}

.index .command-panel
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2 1 2em;
    padding: 0 0.5em 0 0.5em;
    background-color: rgb(222, 184, 135);
}

.index .command-panel .tile
{
    margin: 0 2px 0 0;
    padding: 2px 2px 2px 2px; 
    color: rgb(249,246,244);
    display: inline-block;
}

.command-panel .banner
{
    margin-right: auto;
}

.index .command-panel .tile .fas
{
    font-size: 6vh;
    display: inline-block;
}

.index .list
{
    flex: 1 1 10em;
    min-height: 50em;
    background-color: rgb(240, 234, 214); 
}

.index .detail fieldset
{
    flex: 2 1 2em;
    min-height: 40em;
}

.index .detail .feedback
{
    flex: 2 1 2em;
    background-color: rgb(195,94,77);
    min-height: 2em;
}

.input-container
{
    display:flex;
    justify-content: start;
    align-items: center;
}

.input-container > label
{
    flex-basis: 4em;
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: inline-block;
}

.page-footer {
    width: 100%;
    min-height: 10%;
    color: rgb(250, 240, 230); 
    background-color: rgb(65, 74, 76); 
    padding: 0.5em 0 0 1em;
}