@font-face {
  font-family: 'fric-frac';
  src:  url('fonts/fric-frac.eot?e2cv5v');
  src:  url('fonts/fric-frac.eot?e2cv5v#iefix') format('embedded-opentype'),
    url('fonts/fric-frac.ttf?e2cv5v') format('truetype'),
    url('fonts/fric-frac.woff?e2cv5v') format('woff'),
    url('fonts/fric-frac.svg?e2cv5v#fric-frac') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fric-frac' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right:before {
  content: "\ea34";
}
